body, html, #main {
    height:100%;
}

#sidebar {
    overflow-y:scroll;
}

#expressionRendering {
    font-size: 1.5em !important;
    margin:1em;
}

@media only screen and (min-width : 960px) {
    a[href='#sidebar'] {
        display: none;
    }
}

#plotBox {
    margin: 0 auto;
}

.navbar-group{
    text-align: center;
}

.text-primary{
    font-size: 24px;
    margin-bottom: 10px;
}

.navbar-links > a{
    margin-left: 10px;
    margin-right: 10px;
}